* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Poppins", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

#app {
  height: 100vh;
}

.page {
  display: none;
  height: 100vh;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page.active {
  display: flex;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.question {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

input {
  padding: 0.7rem;
  font-size: 1rem;
  width: 250px;
  max-width: 90%;
  border-radius: 8px;
  border: none;
}

button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #6a11cb;
  color: white;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.error {
  margin-top: 1rem;
  color: darkred;
  font-weight: bold;
}

.final img {
  margin-top: 2rem;
  max-width: 300px;
  width: 80%;
  border-radius: 20px;
}
