* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Poppins", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #b11226, #2e7d32);
  color: #fff;
}

#app {
  height: 100vh;
}

.page {
  display: none;
  min-height: 100svh;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.page.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

h1 {
  font-size: clamp(1.8rem, 6vw, 2.5rem);
  margin-bottom: 1rem;
}

.question {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

input {
  padding: 0.7rem;
  font-size: 1rem;
  width: 250px;
  max-width: 90%;
  border-radius: 8px;
  border: none;
}

button {
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
  background: gold;
  color: #b11226;
  font-weight: bold;
  border: none;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.error {
  margin-top: 1rem;
  color: darkred;
  font-weight: bold;
}

.final img {
  margin-top: 2rem;
  max-width: 300px;
  width: 80%;
  border-radius: 20px;
}
